
.selectPosition {
  display: table;
  table-layout: auto;
}

.selectPosition > div {
  display: table-row;
}

.selectPosition > div > div {
  display: table-cell;
  padding: 2px;
}

.enterNames {
  padding: 4px;
  max-width: 350px;
}

#TestPage {
  display: block;

}

.baseDefaultButton {
  border-radius: 20px;
  background-color: var(--color-default-button);
  color: var(--color-fg-default-button);
  border-style: outset;
  border-width: 2px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: x-large;
}

.viewPlayerDiamond {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.viewPlayerDiamond::after, .viewPlayerDiamond::before {
  content: '';
  width: 100%;
  order: 1;
}
.viewPlayerDiamond > div:nth-child(n + 2) {
  order: 1;
}
.viewPlayerDiamond > div:nth-child(n + 4) {
  order: 2;
}
.viewPlayerDiamond > div {
  margin: 20px 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.viewPlayerDiamond > div >div:first-child {
  font-size: xx-large;
}
