/* @CHARSET "UTF-8"; */
/*
.dupDivSummary {
}
 */
.dupDivSummary > table {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border: 1px solid var(--color-table-border);
}

.dupDivSummary > table > caption {
  font-size: x-large;
  white-space: nowrap;
  border: 2px solid var(--color-table-border);
  border-bottom: 0px solid var(--color-table-border);
  text-align: left;
}

.dupDivSummary > table > caption > span {
    float: right;
}
.dupDivSummary > table thead tr th {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  background-color: var(--color-bg);
  z-index: 11;
}
.dupDivSummary > table thead tr th:first-child {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  left: -8px;
  background-color: var(--color-bg);
  z-index: 12;
}
.dupDivSummary > table tbody tr td:first-child {
  position: sticky;
  position: -webkit-sticky;
  left: -8px;
  background-color: var(--color-bg);
  z-index: 10;
}
@media not all and (min-resolution:.001dpcm) {
  /* See https://adrianroselli.com/2020/01/fixed-table-headers.html
   * running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" is -h-14, where h is the height of the caption element.
   */
  .dupDivSummary > table thead tr th,
  .dupDivSummary > table thead tr th:first-child {
    top: -56px;
  }
}
.dupDivSummary > table tbody tr:nth-child(2n+1) {
  background-color: var(--color-table-row-alt);
}
.dupDivSummary > table td:first-child {
  border: 1px solid var(--color-table-border);
  padding: 4px 8px 4px 4px;
  text-align: center;
}
.dupDivSummary > table td {
  border: 1px solid var(--color-table-border);
  text-align: center;
}
.dupDivSummary > table th {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 0px 3px;
}
.dupDivSummary > table > tfoot > tr > td {
  position: sticky;
  position: -webkit-sticky;
  bottom: -8px;
  background-color: var(--color-bg);
  z-index: 12;
}
.dupDivSummary > table > tfoot > tr > td > div {
  padding-top: 0px;
}

.dupDivPlayerFilter {
  font-size: x-large;
  padding-bottom: 10px;
}

.dupDivPlayerFilter ul {
    list-style-type: none;
    counter-reset: section;

    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;

}

.dupDivPlayerFilter ul li {
    padding-left: 10px;
    position: relative;
    white-space: nowrap;
}

.dupDivPlayerFilter > div > button {
  font-size: x-large;
  width: 150px;
}

.dupDivPlayerFilter > div {
  display: flex;
  flex-direction: row;
}

.dupDivPairsGrid {
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 3px;
}
.dupDivPairsGrid > table > tbody > tr > td:first-child {
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  left: -8px;
  z-index: 10;
  background-color: var(--color-bg);
}
.dupDivPairsGrid > table > thead > tr > th {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  z-index: 11;
  background-color: var(--color-bg);
}
.dupDivPairsGrid > table > thead > tr > th:first-child {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  left: -8px;
  z-index: 12;
  background-color: var(--color-bg);
}
@media not all and (min-resolution:.001dpcm) {
  /* running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" is -h-14, where h is the height of the caption element.
   */
  .dupDivPairsGrid > table > thead > tr > th,
  .dupDivPairsGrid > table > thead > tr > th:first-child {
    top: -49px;
  }
}
.dupDivPairsGrid > table > tbody > tr > td:last-child {
  border-left: 3px solid var(--color-table-border);
}
.dupDivPairsGrid > table > thead > tr > th:last-child {
  border-left: 3px solid var(--color-table-border);
}

.dupDivPairsGrid .tooltipContent > div.tooltipBody {
  white-space: pre;
  text-align: left;
  padding-left: 5px;
}

.dupDivPairsGrid > table > tbody > tr > td {
  padding: 0;
}

.dupDivPairsGrid > table > tbody > tr > td > div {
  padding: 2px 4px 2px 4px;
}

.dupDivPairsGrid > table > tbody > tr > td:first-child {
  padding: 2px 4px 2px 4px;
}

.dupDivPairsDetailsGrid {
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 3px;
}
.dupDivPairsDetailsGrid > table > tbody > tr > td:first-child {
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  left: -8px;
  z-index: 10;
  background-color: var(--color-bg);
}
.dupDivPairsDetailsGrid > table > thead > tr > th {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  z-index: 11;
  background-color: var(--color-bg);
}
.dupDivPairsDetailsGrid > table > thead > tr > th:first-child {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  left: -8px;
  z-index: 12;
  background-color: var(--color-bg);
}
@media not all and (min-resolution:.001dpcm) {
  /* running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" is -h-14, where h is the height of the caption element.
   */
  .dupDivPairsDetailsGrid > table > thead > tr > th,
  .dupDivPairsDetailsGrid > table > thead > tr > th:first-child {
    top: -42px;
  }
}
.dupDivPairsDetailsGrid > table > tbody > tr > td:last-child {
  border-left: 3px solid var(--color-table-border);
}
.dupDivPairsDetailsGrid > table > thead > tr > th:last-child {
  border-left: 3px solid var(--color-table-border);
}

.dupDivPairsDetailsGrid .tooltipContent .piechart {
  display: inline;
}

.dupDivPairsDetailsGrid .tooltipContent ul {
  list-style-type: none;
}

.dupViewPairsDetailsTable {
  padding: 4px;
}
.dupViewPairsDetailsTable > table > thead > tr > th {
  position: sticky;
  position: -webkit-sticky;
  z-index: 11;
  top: -8px;
  background-color: var(--color-bg);
}
@media not all and (min-resolution:.001dpcm) {
  /* running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" is -h-14, where h is the height of the caption element.
   */
  .dupViewPairsDetailsTable > table > thead > tr > th {
    top: -42px;
  }
}

.dupViewPeopleDetailsTable {
  padding: 4px;
}
.dupViewPeopleDetailsTable > table > thead > tr > th {
  position: sticky;
  position: -webkit-sticky;
  z-index: 11;
  top: -8px;
  background-color: var(--color-bg);
}
.dupViewPeopleDetailsTable > table > thead > tr > th:first-child {
  z-index: 12;
  left: -8px;
  background-color: var(--color-bg);
}
.dupViewPeopleDetailsTable > table > tbody > tr > td:first-child {
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
  left: -8px;
  background-color: var(--color-bg);
}
@media not all and (min-resolution:.001dpcm) {
  /* running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" is -h-14, where h is the height of the caption element.
   */
  .dupViewPeopleDetailsTable > table > thead > tr > th,
  .dupViewPeopleDetailsTable > table > thead > tr > th:first-child {
    top: -42px;
  }
}

.dupViewPairsTable {
  padding: 4px;
}
.dupViewPairsTable > table > thead > tr > th {
  position: sticky;
  position: -webkit-sticky;
  z-index: 11;
  top: -8px;
  background-color: var(--color-bg);
}
@media not all and (min-resolution:.001dpcm) {
  /* running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" is -h-14, where h is the height of the caption element.
   */
  .dupViewPairsTable > table > thead > tr > th {
    top: -49px;
  }
}

.dupViewPeopleTable > table > thead > tr > th {
  position: sticky;
  position: -webkit-sticky;
  z-index: 11;
  top: -8px;
  background-color: var(--color-bg);
}
.dupViewPeopleTable > table > thead > tr > th:first-child {
  z-index: 12;
  left: -8px;
  background-color: var(--color-bg);
}
.dupViewPeopleTable > table > tbody > tr > td:first-child {
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
  left: -8px;
  background-color: var(--color-bg);
}
@media not all and (min-resolution:.001dpcm) {
  /* running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" is -h-14, where h is the height of the caption element.
   */
  .dupViewPeopleTable > table > thead > tr > th,
  .dupViewPeopleTable > table > thead > tr > th:first-child {
    top: -49px;
  }
}

.dupTableNewDuplicate {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border: 1px solid var(--color-table-border);
}
.dupTableNewDuplicate td:first-child {
  border: 1px solid var(--color-table-border);
  padding: 4px 8px 4px 4px;
  text-align: left;
}
.dupTableNewDuplicate td {
  border: 1px solid var(--color-table-border);
  text-align: center;
}
.dupTableNewDuplicate th {
  border: 1px solid var(--color-table-border);
  text-align: center;
}

.dupDivSelectMatch {
  font-size: x-large;
}

.dupDivSelectMatch label {
  font-size: x-large;
}

.dupDivSelectMatch input {
  font-size: x-large;
}

.dupDivScoreboardPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.dupDivViewScoreboard {
  flex-basis: 100%;
  margin-right: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  page-break-inside: avoid !important;
}

/*
@media screen and (max-width: 1025px) {
  .dupDivViewScoreboardAllButtons {
    transform: scale(.93);
    transform-origin: top left;
  }
}
*/

.dupTableViewScoreboard {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border: 1px solid var(--color-table-border);
}
.dupTableViewScoreboard > caption {
  font-size: x-large;
  white-space: nowrap;
  border: 2px solid var(--color-table-border);
  border-bottom: 0px solid var(--color-table-border);
  padding: 0px 3px;
}
.dupTableViewScoreboard tbody tr:nth-child(2n+1) {
  background-color: var(--color-table-row-alt);
}
.dupCellScoreboardBoardColumn {
  width: 43px;
}
.dupTableViewScoreboard td {
  border: 1px solid var(--color-table-border);
  text-align: center;
}
.dupTableViewScoreboard th {
  border: 1px solid var(--color-table-border);
  text-align: center;
}

.dupDivScoreboardHelp {
  flex: 1 1 180px;
  padding-left: 20px;
}
.dupDivScoreboardHelp h1 {
  margin-top: 10px;
}

.dupDivScoreboardDetails {
  flex: 1 1 180px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: x-large;
}

.dupDivScoreboardDetails table {
  border: 1px solid var(--color-table-border);
  border-spacing: 0px;
}
.dupDivScoreboardDetails td {
  border: 1px solid var(--color-table-border);
  text-align: center;
}
.dupDivScoreboardDetails th {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 0px 3px;
}

.dupDivPlayerPosition {
  flex: 0 0 auto;
  padding-top: 10px;
  padding-right: 10px;
}

.dupTablePlayerPosition {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border: 1px solid var(--color-table-border);
}
.dupTablePlayerPosition tbody tr:nth-child(2n+1) {
  background-color: var(--color-table-row-alt);
}
.dupTablePlayerPosition td:nth-child(3) {
  border: 1px solid var(--color-table-border);
  text-align: left;
}
.dupTablePlayerPosition td {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 0px 3px;
}
.dupTablePlayerPosition th {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 0px 3px;
}

.dupDivAllTablesPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
}

.dupDivBoardSetPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.dupDivTablePage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}
.dupDivTableHelp {
  flex: 1 1 180px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.dupDivTableView {
  flex: 0 0 auto;
  padding: 10px 2px 2px 2px;
}
.dupDivTableView > table {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border: 1px solid var(--color-table-border);
}
.dupDivTableView > table > caption {
  font-size: x-large;
  white-space: nowrap;
  border: 2px solid var(--color-table-border);
  border-bottom: 0px solid var(--color-table-border);
}
.dupDivTableView > table > tbody > tr:nth-child(2n+1) {
  background-color: var(--color-table-row-alt);
}
.dupDivTableView > table > tbody > tr > td:first-child {
  border: 1px solid var(--color-table-border);
  padding-left: 10px;
  padding-right: 10px;
}
.dupDivTableView > table > tbody > tr > td:nth-child(2) {
  border: 1px solid var(--color-table-border);
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.dupDivTableView > table > tbody > tr > td {
  border: 1px solid var(--color-table-border);
  text-align: center;
}
.dupDivTableView > table > thead > tr > th {
  border: 1px solid var(--color-table-border);
  text-align: center;
}
.dupBoardButtonInTable {
  border-radius: 20px;
  background-color: var(--color-default-button);
  color: var(--color-fg-default-button);
  border-style: outset;
  border-width: 2px;
  padding: 3px 6px;
  white-space: nowrap;
  min-width: 44px;
  margin-left: 4px;
  margin-right: 4px;
}
.dupDivTableView > table table {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border-style: none;
}
.dupDivTableView > table table td {
  border-style: none;
  padding: 1px 6px 1px 6px;
  text-align: left;
}

.dupDivBoardPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dupDivBoardView {
  font-size: x-large;
}
.dupDivBoardView table {
  border-spacing: 0px;
  border: 1px solid var(--color-table-border);
}
.dupDivBoardView table > caption {
  border: 2px solid var(--color-table-border);
  border-bottom: 0px solid var(--color-table-border);
  padding: 0px 3px;
}
.dupDivBoardView th {
  border: 1px solid var(--color-table-border);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.dupDivBoardView td {
  border: 1px solid var(--color-table-border);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.dupTableCellGray {
  /* background-color: var(--color-table-cell-gray); */
  background: repeating-linear-gradient(-45deg, var(--color-table-cell-gray), var(--color-table-cell-gray) 5px, var(--color-bg) 5px, var(--color-bg) 10px);
}

.dupDivAllBoardsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dupDivAllBoardsPage > div {
  padding: 5px;
}
.dupDivFinishedScoreboardsPage > div {
  padding: 5px;
}

.dupDivFinishedScoreboardsPage {
  font-size: x-large;
}

.dupDivBoardSetsPage {
  flex-wrap: nowrap;
}
.dupDivBoardSetsPage > div table {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border: 1px solid var(--color-table-border);
}
.dupDivBoardSetsPage > div tbody tr:nth-child(2n+1) {
  background-color: var(--color-table-row-alt);
}
.dupDivBoardSetsPage > div td {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 2px 4px 2px 4px;
}
.dupDivBoardSetsPage > div th {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 2px 4px 2px 4px;
}

.dupDivBoardSetView {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 0 0 auto;
  padding: 10px 2px 2px 2px;
}
.dupDivBoardSetView div {
  padding: 4px;
}
.dupDivBoardSetView table {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border: 1px solid var(--color-table-border);
}
.dupDivBoardSetView tbody tr:nth-child(2n+1) {
  background-color: var(--color-table-row-alt);
}
.dupDivBoardSetView td {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 2px 4px 2px 4px;
}
.dupDivBoardSetView th {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 2px 4px 2px 4px;
}

.dupDivMovementsPage {
  flex-wrap: nowrap;
}
.dupDivMovementsPage > table thead tr th {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  background-color: var(--color-bg);
  z-index: 11;
}
@media not all and (min-resolution:.001dpcm) {
  /* running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" is -h-14, where h is the height of the caption element.
   */
  .dupDivMovementsPage > table thead tr th {
    top: -42px;
  }
}
.dupDivMovementsPage table {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border: 1px solid var(--color-table-border);
}
.dupDivMovementsPage tbody tr:nth-child(2n+1) {
  background-color: var(--color-table-row-alt);
}
.dupDivMovementsPage td {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 2px 4px 2px 4px;
}
.dupDivMovementsPage th {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 2px 4px 2px 4px;
}

.dupDivMovementView {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px 2px 2px 2px;
}
.dupDivMovementView > div {
  padding: 4px;
}

.dupDivNamesPage {
  font-size: x-large;
}

.dupDivTableNamesPage {
  font-size: x-large;
}
.dupDivTableNamesPage > div {
  display: flex;
  justify-content: center;
}
.dupDivTableNamesPage > div > div {
  flex: 1 0 auto;
  max-width: 700px;
}

.dupDivTableNamesPage .dupInputTableNames {
  padding: 4px;
  max-width: 350px;
}

.dupDivDuplicateResultPage > p:last-child {
  font-size: medium;
}

.dupDivDuplicateResultPage {
  font-size: x-large;
}

.dupDivDuplicateResultEditPage > div > div:nth-child(2) {
  max-width: 400px;
}

.dupDivDuplicateResultEditPage tr > td:first-child {
  text-align: center;
}

.dupDivDuplicateResultEditPage td > input {
  max-width: 70px;
  color: var(--color-fg-default-button);
  background-color: var(--color-default-button);
}

.dupDivDuplicateResultEditPage p:last-child {
  font-size: medium;
}

.dupDivDuplicateResultEditPage input {
  font-size: x-large;
}

.dupDivDuplicateResultEditPage > div > label > input {
  font-size: x-large;
  color: var(--color-fg-default-button);
  background-color: var(--color-default-button);
}

.dupDivDuplicateResultEditPage {
  font-size: x-large;
}

.dupDivSuggestionPage input {
  font-size: x-large;
}

.dupDivSuggestionPage li {
  list-style-type: none;
}

.dupDivSuggestionPage > div:nth-child(4) ul li {
  padding: 5px;
}
.dupDivSuggestionPage tbody tr:nth-child(2n+1) {
  background-color: var(--color-table-row-alt);
}
.dupDivSuggestionPage td:first-child {
  border: 1px solid var(--color-table-border);;
  text-align: center;
}
.dupDivSuggestionPage td {
  border: 1px solid var(--color-table-border);;
  padding: 4px;
  text-align: center;
}
.dupDivSuggestionPage > div:nth-child(6) td:nth-child(n+6) {
  font-size: large;
}
.dupDivSuggestionPage > div:nth-child(6) th:nth-child(n+6) {
  font-size: large;
}
.dupDivSuggestionPage th {
  border: 1px solid var(--color-table-border);;
  text-align: center;
}
.dupDivSuggestionPage table {
  border-spacing: 0px;
  border: 1px solid var(--color-table-border);;
}
.dupDivSuggestionPage {
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  vertical-align: top;

}
/*
.dupDivPageStats {
}
 */
.dupViewContractResults table > tbody > tr > td:first-child {
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  left: -8px;
  z-index: 10;
  background-color: var(--color-bg);
}
.dupViewContractResults table > thead > tr:nth-child(1) > th {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  z-index: 11;
  background-color: var(--color-bg);
}
.dupViewContractResults table > thead > tr:nth-child(2) > th {
  position: sticky;
  position: -webkit-sticky;
  top: 19px;
  z-index: 11;
  background-color: var(--color-bg);
}
@media not all and (min-resolution:.001dpcm) {
  /* running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" in the first row is t1 = -hc-14, where hc is the height of the caption element.
   * the value of "top" in the second row is t2 = t1 + h1, where h1 is the height of row 1
   */
  .dupViewContractResults table > thead > tr:nth-child(1) > th {
    top: -49px;
  }
  .dupViewContractResults table > thead > tr:nth-child(2) > th {
    top: -22px;
  }
}
.dupViewContractResults table > thead > tr:nth-child(2) > th:first-child {
  z-index: 12;
  left: -8px;
}
.dupViewContractResults table > tbody > tr > td > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.dupViewContractResults table > tbody > tr > td > div > div {
  padding: 2px;
}

.dupViewContractResults table > tbody > tr > td > div > svg {
  padding: 2px;
}

.dupViewContractResults table > thead > tr:first-child > th:nth-child(2) {
  border-left: 3px solid var(--color-table-border);
}

.dupViewContractResults table > thead > tr:nth-child(2) > th:nth-child(9) {
  border-left: 3px solid var(--color-table-border);
}

.dupViewContractResults table > tbody > tr > td:nth-child(9) {
  font-weight: bold;
  border-left: 3px solid var(--color-table-border);
}

.dupViewContractResults table > tbody > tr > td:first-child {
  font-weight: bold;
}

.dupViewContractResults .tooltipContent .piechart {
  display: inline;
}

.dupViewPlayerContractResults table > tbody > tr > td:first-child {
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  left: -8px;
  z-index: 10;
  background-color: var(--color-bg);
}
.dupViewPlayerContractResults table > tfoot > tr:first-child > td:first-child {
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  left: -8px;
  z-index: 10;
  background-color: var(--color-bg);
}
.dupViewPlayerContractResults table > thead > tr > th {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  z-index: 11;
  background-color: var(--color-bg);
}
.dupViewPlayerContractResults table > thead > tr > th:first-child {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  left: -8px;
  z-index: 12;
  background-color: var(--color-bg);
}
@media not all and (min-resolution:.001dpcm) {
  /* running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" is -h-14, where h is the height of the caption element.
   */
  .dupViewPlayerContractResults table > thead > tr > th,
  .dupViewPlayerContractResults table > thead > tr > th:first-child {
    top: -42px;
  }
}

.dupViewPlayerContractResults table > thead > tr > th:first-child {
  font-weight: bold;
  border-right: 3px solid var(--color-table-border);
}

.dupViewPlayerContractResults table > tbody > tr > td:first-child {
  font-weight: bold;
  border-right: 3px solid var(--color-table-border);
}

.dupViewPlayerContractResults table > thead > tr > th:nth-child(6) {
  border-left: 3px solid var(--color-table-border);
}

.dupViewPlayerContractResults table > tbody > tr > td:nth-child(6) {
  border-left: 3px solid var(--color-table-border);
}

.dupViewPlayerContractResults table > tfoot > tr:first-child > td:nth-child(4) {
  border-left: 3px solid var(--color-table-border);
}

.dupViewPlayerContractResults table > thead > tr > th:nth-child(3) {
  border-right: 3px solid var(--color-table-border);
}

.dupViewPlayerContractResults table > tbody > tr > td:nth-child(3) {
  border-right: 3px solid var(--color-table-border);
}

.dupViewPlayerContractResults table > tfoot > tr:first-child > td:nth-child(2) {
  border-right: 3px solid var(--color-table-border);
}

.dupViewPlayerContractResults .tooltipContent .piechart {
  display: inline;
}
/*
.dupViewPlayerAggressiveness {
}
 */
.dupViewPlayerAggressiveness > table > tfoot > tr:nth-child(2) > td {
  text-align: left;
}

.dupViewPlayerAggressiveness > table > thead > tr:last-child > th {
  white-space: normal;
}

.dupViewPlayerAggressiveness .tooltipContent .piechart {
  display: inline;
}

.dupViewPlayerAggressiveness table > tbody > tr > td:first-child {
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  left: -8px;
  z-index: 10;
  background-color: var(--color-bg);
}
.dupViewPlayerAggressiveness table > tfoot > tr:first-child > td:first-child {
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  left: -8px;
  z-index: 10;
  background-color: var(--color-bg);
}
.dupViewPlayerAggressiveness table > thead > tr:last-child > th {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  z-index: 11;
  background-color: var(--color-bg);
}
.dupViewPlayerAggressiveness table > thead > tr:last-child > th:first-child {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  left: -8px;
  z-index: 12;
  background-color: var(--color-bg);
}
@media not all and (min-resolution:.001dpcm) {
  /* running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" is -h-14, where h is the height of the caption element.
   */
  .dupViewPlayerAggressiveness table > thead > tr:last-child > th,
  .dupViewPlayerAggressiveness table > thead > tr:last-child > th:first-child {
    top: -42px;
  }
}

.dupDivPlayerOpponentGrid {
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 3px;
}
.dupDivPlayerOpponentGrid > table > tbody > tr > td:first-child {
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  left: -8px;
  z-index: 10;
  background-color: var(--color-bg);
}
.dupDivPlayerOpponentGrid > table > thead > tr > th {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  z-index: 11;
  background-color: var(--color-bg);
}
.dupDivPlayerOpponentGrid > table > thead > tr > th:first-child {
  position: sticky;
  position: -webkit-sticky;
  top: -8px;
  left: -8px;
  z-index: 12;
  background-color: var(--color-bg);
}
@media not all and (min-resolution:.001dpcm) {
  /* running on Safari, caption element is not reclaimed for when calculating sticky
   * The value of "top" is -h-14, where h is the height of the caption element.
   */
  .dupDivPlayerOpponentGrid > table > thead > tr > th,
  .dupDivPlayerOpponentGrid > table > thead > tr > th:first-child {
    top: -42px;
  }
}
.dupDivPlayerOpponentGrid > table > tbody > tr > td:last-child {
  border-left: 3px solid var(--color-table-border);
}
.dupDivPlayerOpponentGrid > table > thead > tr > th:last-child {
  border-left: 3px solid var(--color-table-border);
}

.dupDivPlayerOpponentGrid .tooltipContent > div.tooltipBody {
  white-space: pre;
  text-align: left;
  padding-left: 5px;
}

.dupDivPlayerOpponentGrid > table > tbody > tr > td {
  padding: 0;
}

.dupDivPlayerOpponentGrid > table > tbody > tr > td > div {
  padding: 2px 4px 2px 4px;
}

.dupDivPlayerOpponentGrid > table > tbody > tr > td:first-child {
  padding: 2px 4px 2px 4px;
}

.dupDivPlayerOpponentGrid > table > tbody > tr > td > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.dupDivPlayerOpponentGrid .withTooltipBox .tooltipBody li {
  white-space: nowrap;
}

.dupDivPlayerOpponentGrid .withTooltipBox .tooltipBody li > svg {
  display: inline;
}

.dupViewPlayerPlaces {
  display: block;
}

.dupViewPlayerPlaces > table {
  border: 1px solid var(--color-table-border);
  border-spacing: 0px;
}

.dupViewPlayerPlaces > table > tbody > tr > td,
.dupViewPlayerPlaces > table > tfoot > tr > td {
  border: 1px solid var(--color-table-border);
  text-align: center;
}

.dupViewPlayerPlaces > table >tbody > tr > td > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.dupViewPlayerPlaces > table > tfoot > tr > td > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
}
.dupViewPlayerPlaces > table > tfoot > tr > td {
  white-space: normal;
  padding: 5px;
}
.dupViewPlayerPlaces .tooltipContent .piechart {
  display: inline;
}
.dupViewPlayerPlaces > table > caption {
  font-size: x-large;
  white-space: nowrap;
  border: 2px solid var(--color-table-border);
  border-bottom: 0px solid var(--color-table-border);
  text-align: center;
}
.dupViewPlayerPlaces > table > tfoot > tr > td > div > * {
  margin-left: 10px;
}
.dupViewPlayerPlaces > table table {
  border: 1px solid var(--color-table-border);
  border-spacing: 0px;
}
.dupViewPlayerPlaces > table table th {
  border: 1px solid var(--color-table-border);
  text-align: center;
}
.dupViewPlayerPlaces > table table td {
  border: 1px solid var(--color-table-border);
  text-align: center;
}

.dupDivEditBoardSet {
  display: flex;
  flex-direction: column;
}
.dupDivEditBoardSet > div:first-child {
  display: flex;
  flex-direction: column;
}
.dupDivEditBoardSet > div:first-child label {
  padding: 3px;
}
.dupDivEditBoardSet > div:nth-child(2) {
  display: flex;
  flex-direction: row;
}
.dupDivEditBoardSet > div:nth-child(2) > div {
  padding: 5px;
}
.dupDivEditBoardSet > div:nth-child(2) table {
  border: 1px solid var(--color-table-border);
  border-spacing: 0px;
}
.dupDivEditBoardSet > div:nth-child(2) table tr > td,
.dupDivEditBoardSet > div:nth-child(2) table tr > th {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 2px;
}

.dupDivEditMovement {
  display: flex;
  flex-direction: column;
}
.dupDivEditMovement > div:first-child {
  display: flex;
  flex-direction: column;
}
.dupDivEditMovement > div:first-child label {
  padding: 3px;
}
.dupDivEditMovement > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dupDivEditMovement > div > div {
  padding: 5px;
}
.dupDivEditMovement > div table {
  border: 1px solid var(--color-table-border);
  border-spacing: 0px;
}
.dupDivEditMovement > div table >caption {
  font-weight: bold;
}
.dupDivEditMovement > div table tr > td,
.dupDivEditMovement > div table tr > th {
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 2px;
}
.dupDivEditMovement > div table > thead > tr > th:first-child,
.dupDivEditMovement > div table > tbody > tr > th {
  border-right: 2px solid var(--color-table-border);
}
.dupDivEditMovement > div table > thead > tr > th {
  border-bottom: 2px solid var(--color-table-border);
}
.dupDivEditMovement > div table > tfoot > tr > td {
  border: 1px solid var(--color-table-border);
  text-align: left;
  padding: 2px;
}
.dupDivEditMovement input[type="number"] {
  width: 50px;
}
.dupDivEditMovement input[name="Description"] {
  width: 500px;
}
.dupDivEditMovement input[name$="_NBoards"] {
  width: 150px;
}
.dupDivEditMovement input,
.dupDivEditMovement div[role="combobox"] .rw-input,
.dupDivEditMovement div[role="combobox"] .rw-placeholder {
  color: var(--color-fg-default-button);
  background-color: var(--color-default-button);
}
.dupDivEditMovement div[role="combobox"] {
  width: 200px;
  display: inline-block;
}
.dupDivEditMovement div[role="combobox"].rw-state-focus {
  color: var(--color-fg-default-button);
  background-color: var(--color-default-button);
}
.dupDivEditMovement > div:first-child > label.baseCheckbox {
  font-size: inherit;
}
.dupDivBoardView button.handFooterButton {
  white-space: nowrap;
  height: 50px;
  margin: 2px;
  padding: 1px 6px;
  border-radius: 20px;
  background-color: var(--color-default-button);
  color: var(--color-fg-default-button);
  border-style: outset;
  border-width: 2px;
  font-size: x-large;
  font-weight: bold;
}
