/* @CHARSET "UTF-8"; */

.rubListPage {
  font-size: x-large;
}
.rubListPage table {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border: 1px solid var(--color-table-border);
}
.rubListPage table tbody tr:nth-child(2n+1) {
  background-color: var(--color-table-row-alt);
}
.rubListPage table td:first-child {
  border: 1px solid var(--color-table-border);
  padding: 4px 8px 4px 4px;
  text-align: center;
}
.rubListPage table td {
  border: 1px solid var(--color-table-border);
  padding: 4px;
  text-align: center;
}
.rubListPage table th {
  border: 1px solid var(--color-table-border);
  padding: 4px;
  text-align: center;
}

.rubNamesPage {
  font-size: x-large;
}

.rubTableNumber {
  text-align: right !important;
}
.rubTableLabel {
  text-align: right !important;
}
.rubTableGameLabel {
  text-align: left !important;
}

.rubDivRubberMatch {
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.rubDivRubberMatch table {
  margin: 2px;
}

.rubDivRubberMatchView {
  font-size: x-large;
}
.rubDivRubberMatchView table {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border: 1px solid var(--color-table-border);
}
.rubDivRubberMatchView table tbody tr:nth-child(2n+1) {
  background-color: var(--color-table-row-alt);
}
.rubDivRubberMatchView table td:first-child {
  border: 1px solid var(--color-table-border);
  padding: 4px 8px 4px 4px;
  text-align: center;
}
.rubDivRubberMatchView table td {
  border: 1px solid var(--color-table-border);
  padding: 4px;
  text-align: center;
}
.rubDivRubberMatchView table th {
  border: 1px solid var(--color-table-border);
  padding: 4px;
  text-align: center;
}
.rubDivRubberMatchView table > tfoot > tr:first-child td {
  border-top: 3px solid var(--color-table-border);
}

.rubDivDetailsView {
  font-size: x-large;
}
.rubDivDetailsView table {
  border-spacing: 0px;
  font-size: x-large;
  white-space: nowrap;
  border: 1px solid var(--color-table-border);
}
.rubDivDetailsView table tbody tr:nth-child(2n+1) {
  background-color: var(--color-table-row-alt);
}
.rubDivDetailsView table td:first-child {
  border: 1px solid var(--color-table-border);
  padding: 4px 8px 4px 4px;
  text-align: center;
}
.rubDivDetailsView table td {
  border: 1px solid var(--color-table-border);
  padding: 4px;
  text-align: center;
}
.rubDivDetailsView table th {
  border: 1px solid var(--color-table-border);
  padding: 4px;
  text-align: center;
}
.rubDivDetailsView table > tfoot > tr:first-child > td {
  border-top: 3px solid var(--color-table-border);
}

.rubAboveLine {
  vertical-align: bottom;
}
.rubBelowLine {
  vertical-align: top;
}

.rubNamesPage table,
.rubNamesPage th,
.rubNamesPage td
{
  border: none;
  background-color: var(--color-bg);
}
