/* @CHARSET "UTF-8"; */


.handFooterButton {
  white-space: nowrap;
  padding: 1px 6px;
  min-width: 37px;
  margin: 2px;
  height: 50px;
}

.handPageHand {
  font-size: x-large;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-device-width: 1024px) {
  .handPageHand {
    max-width: 99vw;
    padding-top: 4px;
    padding-bottom: 2px;
  }
  .handPageHand > div > div {
    max-width: 99vw;
  }
  .handSectionHeader {
    padding-top: 10px !important;
  }

  .handPageHand .baseDivFooter {
    padding-top: 5px;
  }
}

.handPageHand #Ok {
  width: 100px;
}

.handPageHand > div {
  flex: 1 0 auto;
  font-size: x-large;
}
.handPageHand > div {
  max-width: 1165px;
}

.handSectionContract {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.handSectionContract > div:first-child {
  flex: 0 0 100%;
  clear: both;
  text-align: left;
}

.handViewContractTricks {
  flex: 0 0 auto;
  text-align: center;
  border-left-width: 10px;
  border-right-width: 10px;
}
.handContractTricksButton0 {
  width: 126px !important;
}
.handViewContractTricks button {
  width: 60px;
}

.handViewContractSuit {
  flex: 0 0 auto;
  text-align: center;
  border-left-width: 10px;
  border-right-width: 10px;
}
.handSuitInButton {
  font-size: 2.5rem;
  text-shadow: var(--shadow-suit-outline);
}
.handViewContractSuit button {
  width: 189px;
}
.handViewContractSuit button span {
  vertical-align: middle;
}
.handViewContractDoubled {
  flex: 0 0 auto;
  text-align: center;
  border-left-width: 10px;
  border-right-width: 10px;
}
.handViewContractDoubled button {
  width: 180px;
}
.handPageHand button {
  white-space: nowrap;
  height: 50px;
  margin: 2px;
  padding: 1px 6px;
  border-radius: 20px;
  background-color: var(--color-default-button);
  color: var(--color-fg-default-button);
  border-style: outset;
  border-width: 2px;
  font-size: x-large;
  font-weight: bold;
}

.handSectionHeader {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
}
.handViewDealer {
  flex: 0 0 auto;
  min-width: 10px;
  height: 90px;
  padding-right: 30px;
}

.handViewDeclarer {
  flex: 1 0 auto;
  border-left-width: 20px;
  border-right-width: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.handViewDeclarer > div {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.handViewDeclarer > div > div {
  flex: 0 0 auto;
  padding: 0px 5px;
}
.handViewDeclarer > div:first-child > div:first-child {
  display: flex;
  align-items: center;
}
.titleDeclarerDup {
  padding-left: 10px;
}

.handViewTableBoard {
  flex: 0 0 auto;
  border-left-width: 10px;
  border-right-width: 10px;
}
.handVulnerable {
  background-color: var(--color-bg-vulnerable) !important;
  border-style: inset;
  padding: 1px 5px;
}

.handNotVulnerable {
  background-color: var(--color-bg-not-vulnerable);
  color: var(--color-not-vulnerable);
  text-decoration: line-through;
  border-style: inset;
  padding: 1px 5px;
}



.handSectionResult {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  min-height: 135px;
}
.handSectionResultInner {
  flex: 0 0 auto;
  padding-left: 50px;
}
.handSectionResultInner > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 100%;
  clear: both;
  text-align: left;
}


.handViewHonors {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      font-size: x-large;
}
.handViewHonors > div:first-child {
  flex: 0 0 auto;
  clear: both;
  text-align: left;
}
.handViewHonors > div:nth-child(2) {
  display: flex;
}
.handViewHonors > div:nth-child(2) > div:nth-child(1) {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.handViewHonors > div:nth-child(2) > div:nth-child(1) button {
  width: 60px;
}
.handViewHonors > div:nth-child(2) > div:nth-child(2) {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 20px;
  justify-content: center;
}
.handViewMadeOrDown {
  flex: 0 0 auto;
}
.handViewMadeOrDown button {
  width: 105px;
}
.handViewTricks {
  flex: 0 0 auto;
  text-align: left;
  width: 553px;
  padding-left: 20px;
  display: flex;
}
.handViewTricks > div {
  flex: 0 0 auto;
  text-align: center;
}
.handViewTricks button {
  width: 75px;
}

.handViewVulnerability {
  flex: 0 0 auto;
}
.handViewVulnerability button {
  width: 145px;
}

.handSectionScore {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.handSectionScore > div {
  flex: 0 0 auto;
  padding: 0 5px 0 5px;
}

.playDuplicate .handSectionScore > div:first-child {
  background-color: var(--color-bg-hand-section-score);
  color: var(--color-hand-section-score);
}

.playChicago .handSectionScore > div:first-child {
  background-color: var(--color-bg-hand-section-score);
  color: var(--color-hand-section-score);
}

.contractAndResult {
  background-color: var(--color-bg-hand-section-score);
  color: var(--color-hand-section-score);
}
.handSectionResult .contractAndResult {
  padding: 0 5px 0 5px;
}
